.section-max-width {
  max-width: $content-max-width;
  margin: 0 auto;
  padding-inline: 3rem;
}

.active {
  color: $color-secondary-dark;
}

.hidden {
  display: none !important;
}
.invisible {
  opacity: 0 !important;
}

.ml-4 {
  margin-left: 2.4rem;
}
