* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  font-family: sans-serif;
  color: $color-primary;

  // //! Mixins \\\
  // @include respond(tablet) {
  //   font-size: 57%;
  // }
  // @include respond(phone-rotated) {
  //   font-size: 50%;
  // }
  // @include respond(phone) {
  //   font-size: 40%;
  // }
}

a {
  text-decoration: none;
  color: inherit;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

ul {
  list-style-type: none;
}

label {
  cursor: pointer;
}

body {
  position: relative;
}
